<div class="row mt-4">
{{#each contacts}}
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-between align-items-center">
                    {{contactName}} {{contactLastname}}<a href="/contacts/edit/{{_id}}"> <i class="fas fa-edit"></i> </a>
                </h5> 
                <p><strong>Correo: </strong> {{contactEmail}}</p>
                <p><strong>Edad: </strong> {{contactAge}}</p>
                <form action="/contacts/delete/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <button class="btn btn-danger btn-block btn-sm" type="submit">
                        Eliminar
                    </button>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card mx-auto">
        <div class="card-body">
          <!--  <h3>Hello {{user}}</h3> -->
            <p class="lead">No tienes Contactos agregados</p>
            <a href="/contacts/add" class="btn btn-success btn-block">Añadir uno!</a>
        </div>
    </div>
{{/each}}
</div>