{{#if contact}}
<div class="col-md-4 mx-auto">
    <div class="card">
        <div class="card-header">
            <h3>Editar Contacto</h3>
        </div>
        <div class="card-body">
            <form action="/contacts/edit-contact/{{contact._id}}?_method=PUT" method="POST">
                <input type="hidden" name="_method" value="PUT">
                <div class="form-group">
                    <input type="text" name='contactName' class="form-control" placeholder="Nombre" value="{{contact.contactName}}" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" name="contactLastname" class="form-control" placeholder="Apellido" value="{{contact.contactLastname}}">
                </div>
                <div class="form-group">
                    <input type="email" name="contactEmail" class="form-control" placeholder="Correo" value="{{contact.contactEmail}}">
                </div>
                <div class="form-group">
                    <input type="number" name="contactAge" class="form-control" placeholder="Edad" value="{{contact.contactAge}}">
                </div>
                <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">Actualizar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{{/if}}